.chatlist-container{
    
    width: 80%;
    display: flex;
    height: 0;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-content: start;
}

.chatlist-container:hover .chat-item-container{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .chatlist-container:hover .chat-item-container:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }