@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.container-h {
    width: 100%;
    margin: 0 auto;
    max-width: 1438px; }
    .container__header {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto 0px; }
      .container__header .logo__text {
        color: #44c0c2;
        font-family: "Lobster";
        padding: 20px 0 15px 15px;
        font-size: 43px; }
      .container__header .navigation__list {
        display: flex;
        justify-content: space-between;
        list-style: none; }
        .container__header .navigation__list-item {
          padding-top: 39px; }
        .container__header .navigation__list-link {
          font-size: 16px;
          font-family: "Open Sans", "Lato", "Maven Pro";
          padding: 40px  27px 36px 25px;
          color: #5a5d65;
          text-decoration: none; }
          .container__header .navigation__list-link:hover {
            background: #f8f9fb;
            color: #49cbcd; }
        .container__header .navigation__list-link_last-item {
          padding-right: 14px; }