.div1 li{
    border-radius: 20px;
      border: 1px solid #f3f3f3;
      background: #23bebe;
      font-size: 12px;
      font-weight: bold;
      padding: 4px 35px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

.div1 button{
    color: rgba(0,0,0,.5);
}
.MainB{
margin:10px;

}
.AboutB{
margin:10px;

}
.LogOutB{
margin:10px;

}


