*{
  box-sizing: border-box;
}
body{
  font-family: 'Teko', sans-serif;
  background: #86235a;
  margin: -20px 0 50px;
}
h1{
  font-weight: bold;
  letter-spacing: 0.8px;
  margin: 0;
}
p{
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.SignIn2{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
    text-align: center;
    background: #fff241;
    background: linear-gradient(to right, #ebd511, #d20afa) no-repeat 0 0 / cover;
    color: #fff;
}

.SingIn button{
	border-radius: 20px;
    border: 1px solid #f3f3f3;
    background: #23bebe;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button.BSi{
  background: transparent;
  border-color: #fff;
  margin: 10px;
}
button.BSu{
	background: transparent;
  border-color: #fff;
  margin: 10px;
}