
.wrapper {
  background: #4e54c8;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
.btn-login,.btn-singin{
    position: relative;
    z-index:2;
}
.btn-login,.btn-singin{
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    background: #2f3152;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-bottom: 10px;
}
.title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: #f9fbfc;
}
.sub-title{
    font-size: 20px;
    text-align: center;
    color: #f9fbfc;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-content_container{
    width: 400px;
    height: 320px;
    background: #2f3152;
    border-radius: 5%;
    text-align: center;
    
} 
.btn-login:hover,.btn-singin:hover{
    border: 1px solid #2f3152;
    background: #f3f3f3;
    color: #2f3152;
}

@keyframes ro{
    /*   0%{
        transform:rotate(-360deg);
      } */
      100%{
        transform: rotate(360deg);
      }
    }
    
    
.infinite-rotate1{
    margin-left: 50px;
    margin-top:20px;
      width:50px;
      height:50px;
      background-color:aquamarine;
      position: absolute;
      animation:ro 1s ease-in-out infinite alternate;
    }

    .infinite-rotate2{
        margin-left: 170px;
        margin-top:20px;
          width:50px;
          height:50px;

          background-color:aquamarine;
          position: absolute;
          animation:ro 0.6s ease-in-out infinite alternate;
        }
        .infinite-rotate3{
            margin-left: 280px;
            margin-top:20px;
              width:50px;
              height:50px;
              background-color:aquamarine;
              position: absolute;
              animation:ro 1s ease-in-out infinite alternate;
            }
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.circles li.square{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li.circle{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    animation: animatec 15s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    left: 25%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation-delay: 0s;
}


.circles li:nth-child(12){
    left: 10%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(13){
    left: 70%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation-delay: 4s;
}

.circles li:nth-child(14){
    left: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(15){
    left: 65%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation-delay: 0s;
}

.circles li:nth-child(16){
    left: 75%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    animation-delay: 3s;
}

.circles li:nth-child(17){
    left: 35%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation-delay: 7s;
}

.circles li:nth-child(18){
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(19){
    left: 20%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(20){
    left: 85%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

} 
@keyframes animatec {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 0;
    }

} 
